<div class="form-container">
<div class="form-item">
  <form
  [formGroup]="myForm"
  (ngSubmit)= "onSubmit()">
    <div class="row bottom-space">
      <button mat-raised-button (click)="onReset()" type="button">Reset <mat-icon> close</mat-icon></button>
    </div>
    <mat-card formGroupName= "billingAddress">
      <mat-card-header>
        <mat-card-title>Billing Address</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div >
            <mat-form-field appearance="standard">
              <mat-label>First Name</mat-label>
              <input required matInput formControlName="firstName">
            </mat-form-field>
            <p class="error-message"
            *ngIf="billingFirstName.invalid && billingFirstName.touched">First Name ir required!</p>
          </div>
          <div>
            <mat-form-field appearance="standard" class="right-field">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName">
            </mat-form-field>
            <p class="error-message right-field"
            *ngIf="billingLastName.invalid && billingLastName.touched">Last Name ir required!</p>
          </div>
        </div>
        <div class="row">
          <div >
            <mat-form-field appearance="standard">
              <mat-label>Address Line 1</mat-label>
              <input matInput formControlName="address1">
            </mat-form-field>
            <p class="error-message"
            *ngIf="billingAddress.invalid && billingAddress.touched">Address ir required!</p>
          </div>
        </div>
        <div class="row">
          <mat-form-field appearance="standard">
            <mat-label>Address Line 2</mat-label>
            <input matInput  formControlName="address2" >
          </mat-form-field>
        </div>
        <div class="row">
          <div>
            <mat-form-field appearance="standard">
              <mat-label>City/District</mat-label>
              <input matInput  formControlName="city">
            </mat-form-field>
            <p class="error-message"
            *ngIf="billingCity.invalid && billingCity.touched">City ir required!</p>
          </div>
          <div>
            <mat-form-field appearance="standard" class="right-field">
              <mat-label>Province/State</mat-label>
              <input matInput  formControlName="state">
            </mat-form-field>
            <p class="error-message right-field"
            *ngIf="billingState.invalid && billingState.touched">State ir required!</p>
          </div>

        </div>
        <div class="row">
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Country</mat-label>
              <input matInput  formControlName="country">
            </mat-form-field>
            <p class="error-message"
            *ngIf="billingCountry.invalid && billingCountry.touched">Country ir required!</p>
          </div>
          <div>
            <mat-form-field appearance="standard" class="right-field">
              <mat-label>Postal Code</mat-label>
              <input matInput #billingPCode  maxlength="5" formControlName="postalCode" >
              <mat-hint align="end">{{billingPCode.value.length}}/5</mat-hint>
            </mat-form-field>
            <p class="error-message right-field"
            *ngIf="billingPostalCode.invalid && billingPostalCode.touched && billingPostalCode.pristine">Postal Code ir required!</p>
            <p class="error-message right-field"
            *ngIf="billingPostalCode.invalid && billingPostalCode.errors? billingPostalCode.errors.notANumber : false ">Please enter numerically value</p>
          </div>
        </div>
      </mat-card-content>
      </mat-card>
      <div class="row bottom-space">
        <mat-checkbox formControlName='isSameShippingAddress'><h3>My shipping address is same as my billing address.</h3></mat-checkbox>
      </div>
      <div  class="row bottom-space">
      <mat-radio-group formControlName='createAccount'>
        <mat-radio-button value="1">Create Account</mat-radio-button>
        <mat-radio-button value="2" class="right-field">Checkout as a Guest</mat-radio-button>
      </mat-radio-group>
      </div>

    <mat-card
    *ngIf="!isSameShippingAddress.value"
    class="bottom-space"  formGroupName= "shippingAddress">
      <mat-card-header>
        <mat-card-title>Shipping Address</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <mat-form-field appearance="standard">
            <mat-label>First Name </mat-label>
            <input matInput formControlName="firstName">
            <mat-error >{{errorMessages.required}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" class="right-field">
            <mat-label>Last Name</mat-label>
            <input matInput   formControlName="lastName">
            <mat-error >{{errorMessages.required}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="standard">
            <mat-label>Address Line 1</mat-label>
            <input matInput  formControlName="address1">
            <mat-error >{{errorMessages.required}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="standard">
            <mat-label>Address Line 2</mat-label>
            <input matInput   formControlName="address2">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="standard">
            <mat-label>City/District</mat-label>
            <input matInput  formControlName="city">
            <mat-error >{{errorMessages.required}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" class="right-field">
            <mat-label>Province/State</mat-label>
            <input matInput formControlName="state">
            <mat-error >{{errorMessages.required}}</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="standard">
            <mat-label>Country</mat-label>
            <input matInput formControlName="country">
            <mat-error>{{errorMessages.required}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" class="right-field">
            <mat-label>Postal Code</mat-label>
            <input matInput #shippingPCode  maxlength="5" formControlName="postalCode" >
            <mat-error *ngIf="shippingPostalCode.errors?.required && !shippingPostalCode.value" align="start">{{errorMessages.required}}</mat-error>
            <mat-error *ngIf="shippingPostalCode.errors?.notANumber" align="start">{{errorMessages.notANumber}}</mat-error>

            <mat-hint align="end">{{shippingPCode.value.length}}/5</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
      </mat-card>

      <mat-card
      *ngIf= "createAccount.value === '1'"
      class="bottom-space" >
        <mat-card-content formGroupName="accountInfo">
          <div class="row">
            <mat-form-field appearance="standard">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="email.errors?.required ">{{errorMessages.required}}</mat-error>
              <mat-error *ngIf="email.errors?.email">{{errorMessages.email}}</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="standard">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password">
              <mat-error *ngIf="password.errors?.required">{{errorMessages.required}}</mat-error>
              <mat-error *ngIf="password.errors?.minlength">{{errorMessages.minlength}}</mat-error>
              <mat-error *ngIf="password.errors?.invalidPassword">{{errorMessages.invalidPassword}}</mat-error>
            </mat-form-field>

              <mat-form-field appearance="standard" class="right-field">
                <mat-label>Confirm Password</mat-label >
                <input matInput formControlName="confirmPassword" type="password" >
                <mat-error *ngIf="confirmPassword.errors?.required ">{{errorMessages.required}}</mat-error>
                <mat-error *ngIf="confirmPassword.errors?.minlength && !confirmPassword.errors?.passwordRequired">{{errorMessages.minlength}}</mat-error>
                <mat-error *ngIf="confirmPassword.errors?.differentPassword">{{errorMessages.differentPassword}}</mat-error>
                <mat-error *ngIf="confirmPassword.errors?.passwordRequired && confirmPassword.value">{{errorMessages.passwordRequired}}</mat-error>

                  <!-- <ng-container
                  *ngFor="let error of getErrorMessage(confirmPassword)">
                  <mat-error >{{error}}</mat-error>
                  <mat-error >{{error}}</mat-error>
                  </ng-container> -->
              </mat-form-field>

              <!-- <p class="error-message"
              *ngIf="confirmPassword.invalid && confirmPassword.touched && confirmPassword.pristine"> Confirm password required</p>
              <p class="error-message"
              *ngIf="confirmPassword.touched && confirmPassword.errors?confirmPassword.errors.differentPassword : false  && confirmPassword.dirty"> Please put the same value as that of password</p>
              <p class="error-message"
              *ngIf=" confirmPassword.touched && confirmPassword.errors? confirmPassword.errors.passwordRequired : false && !confirmPassword.pristine"> First put a password value!</p> -->

          </div>
          <div class="row" [ngClass]="{'top-margin': confirmPassword.touched && confirmPassword.invalid || password.touched && password.invalid  }">
            <p>Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character (@$!%*£?&)</p>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card
      *ngIf= "createAccount.value === '2'"
      class="bottom-space">
        <mat-card-content>
          <div >
            <mat-form-field appearance="standard">
              <mat-label>Email</mat-label>
              <input matInput formControlName="guestEmail">
            </mat-form-field>
            <p class="error-message"
            *ngIf="guestEmail.pristine && guestEmail.touched">Email is required</p>
            <p class="error-message"
            *ngIf="guestEmail.invalid && guestEmail.dirty">Invalid email</p>
          </div>
        </mat-card-content>
      </mat-card>
      <div class="row">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit">Next <mat-icon class="right-arrow">arrow_forward_ios</mat-icon></button>
      </div>
  </form>
</div>
  <div>
    <p>Application of hello pipe</p>
    <p>{{testValue | hello}}</p>
  </div>

  <p>Application of currency pipe</p>
  <div *ngFor="let amount of moneyList">
    <p>{{amount | customCurrency:currentCurrency }}</p>
  </div>


  <div>
    <p>Application of role pipe</p>
    <div *ngIf="isAllowed | permissions:CheckedRole">
      <p>Secret code</p>
    </div>
    <p>{{isAllowed | permissions:CheckedRole  }}</p>
  </div>

  <p>Form status: {{form.status}}</p>
  <p>Form value: {{form.value | json}}</p>

</div>
